
img {
    height: 400;
    width: 400;
}

div{
    margin-top: 15px;
}




span{
    margin-top: 15px;
}


.image-section {
    display:flex;
    justify-content: center;
     
}


.section-style{
    
    margin-right: 25px;
    margin-left: 25px;
   
}

h1{
    text-align: center;
}

body{
    background-color: chartreuse;
    text-align: center;
}

